/* All documetn styles */
* {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

dialog{
    transition: display 0.2s allow-discrete, overlay 0.2s allow-discrete;
    animation: close-dialog 0.2s forwards;
    top: 7vw;
    margin: 0 auto;
    width: 30%;
    border: none;
    border-radius: 1vw;
    background-color: rgb(219, 255, 216, 0.7);
    backdrop-filter: blur(10px);
    z-index: 4;
    padding: 2vw;
    box-shadow: 0vw 0vw 1vw 0vw grey;
}

dialog[open]{
    animation: open-dialog 0.2s forwards;
}

input {
    border: none;
    border-radius: 1vw;
    padding: 0.8vw;
    background-color: rgb(215, 215, 215);
    font-size: 1vw;
}

input[type='submit'] {
    cursor: pointer;
    transition: 0.2s;
    padding: 0.8vw 2vw;
    background-color: rgb(144, 255, 144);
}

input[type='submit']:hover {
    background-color: rgb(89, 255, 89);
    transition: 0.5s;
}

/* Header styles */

header {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 5vw;
    box-shadow: 0 0.1vw 1vw 0 grey;
}

header h1 a{
    position: absolute;
    text-decoration: none;
    font-weight: 900;
    font-size: 2.2vw;
    left: 0;
    margin-left: 2vw;
    margin-top: 1vw;
    color: black;
}

header div#welcome{
    display: none; /* При успешной авторизации - display: block*/
    font-size: 1.4vw;
    position: absolute;
    right: 10vw;
    align-self: center;
}

header button.button-reg{
    display: block; /* При успешной авторизации - display: none*/
}

form#auth-form{
    margin-right: 15vw;
    display: flex; /* При успешной авторизации - display: none*/
    gap: 1.5vw;
    align-items: center;
}

form#auth-form input{
    width: 12vw;
    font-size: 1vw;
}

form#auth-form input[type='submit']{
    width: 8vw;
    font-size: 1.2vw;
    font-weight: 500;
    padding: 0.65vw 2vw;
}

header button{
    transition: 0.2s;
    border: none;
    border-radius: 1vw;
    background: none;
    position: absolute;
    margin-top: 1.1vw;
    margin-right: 4vw;
    font-size: 1.1vw;
    font-weight: 300;
    padding: 0.75vw 2vw;
}

header button:hover{
    background-color: rgb(144, 255, 144);
    transition: 0.5s;
}

header .hide-bt{
    position: absolute;
    left: 14vw;
    font-size: 1.5vw;
    padding: 0.5vw 0.8vw;
}

header .hide-bt:nth-of-type(2){
    left: 25vw;
}

/* main styles */

main h1 {
    margin: 2vw 0;
    text-align: center;
    font-size: 2vw;
}

main #auc-box{
    margin: 0 10vw;
    padding: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
}

#auc-box .auc-cont h2{
    font-size: 1.7vw;
}

#auc-box .auc-cont p{
    line-height: 0.2vw;
    font-weight: 500;
    font-style: italic;
    font-size: 1vw;
}

#auc-box .auc-cont p:nth-of-type(2){
    margin-bottom: 1vw;
}

#auc-box .auc-cont{
    background-color: rgb(202, 202, 202);
    border-radius: 1vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    position: relative;
}

.auc-cont ol{
    align-self: start;
    word-wrap: balance;
    padding-left: 1.5vw;
}

#auc-box .auc-cont li{
    font-size: 1vw;
}

.auc-cont button {
    transition: 0.2s;
    margin-top: auto;
    border: none;
    background-color: rgb(144, 255, 144);
    padding: 0.8vw 1vw;
    border-radius: 1vw;
    font-weight: 600;
    font-size: 1vw;
}

.auc-cont button:hover{
    background-color: rgb(68, 255, 68);
    transition: 0.5s;
}

/* dialog reg styles */

dialog form#reg-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

dialog form#reg-form input:not(input[type="submit"]){
    width: 20vw;
    background-color: white;
}

dialog button.close-button {
    transition: 0.2s;
    border: none;
    background-color: white;
    padding: 0.2vw 0.5vw;
    border-radius: 0.3vw;
    font-size: 2vw;
}

dialog button.close-button:hover{
    background-color: rgb(219, 219, 219);
    transition: 0.5s;
}

/* dialog control styles */

dialog form#control-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

dialog form#control-form input:not(input[type="submit"]){
    width: 20vw;
    background-color: white;
}

/* dialog user styles */

dialog#user-dialog {
    width: 90vw;
}

dialog form.user-info{
    display: flex;
    gap: 0.6vw;
    justify-content: center;
}

dialog form.user-info *{
    width: 10vw;
    margin-bottom: 0.5vw;
    font-size: 1vw;
    background: white;
    border: 0.1vw solid rgb(58, 107, 33);
}
dialog form.user-info *:nth-child(1){
    width: 3vw;
    background-color: rgb(230, 230, 230);
}

dialog form.user-info select{
    border: 0.1vw solid rgb(58, 107, 33);
    border-radius: 1vw;

}

@keyframes open-dialog{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes close-dialog{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}